
//estilos de componentes del home */
/*dropdowb home margin bottom */
.dropdown-margin {
  margin-top: 6px;
  margin-bottom: 6px;
}


/*Card deck */
.card-deck {
  margin-top: 30px;
  margin-bottom: 30px;
}

.card-img-top {
  text-align: center;
  width: 100%;
  height: 220px;
}

//estilos  en parte del dashboard del maestro
/*border top  franja azul de arriba*/
.border-blue {
  border-bottom: 4px solid #337ab7;
}

/*margin para primera imagen del maestro */
.margin-img {
  margin-top: 8px;
}

/*margin right para los iconos que están en la barra del maestro*/
.icon {
  margin-right: 10px;
}

/*clase para margenes de un bloque (div)*/
.margin-block {
  margin-top: 20px;
  margin-bottom: 20px;
}

//estilos para login
.card-body div, .card-body button  {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-table div {
  margin-top: 0px;
  margin-bottom: 0px;
} 

.card-table2 div {
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 1000px;
} 

.row-login{
  display: flex;
  justify-content: center;
}

.contenido{
  padding-left: 20px;
}


/* Ajustes en card para visualizar un documento*/
#document .card-img-top {
  width: 50%;
  height: 7vw;
  object-fit: fill;
}

#document .no-padding {
  padding: 0px 2px;
}

.br-none {
  padding: 0;
  margin: 0;
}

/* importando componentnes */
@import './components/carousel';
@import './components/homeBand';

/*importando estilos de paginas principales*/
@import './about';
@import './business';
@import './contacto';
@import './soporte';
@import './teachers';
@import './elementos';
@import './nuevaSesion';